body{
    margin: 0;
    background:linear-gradient(to right bottom,#903cff, #19036a );
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: #000;
}


.center{
    position: absolute;
    top: 40%;
    left: 40%;
    
}

.button{
    border: 2px solid white;
    border-radius: 4px;
    padding: 8px 25px 8px 25px; 
    box-shadow: 0px 4px 6px 1px rgba(150, 150, 150, 0.637);
    cursor: pointer;
    
}

.button:hover{
    background-color: rgb(223, 13, 195);
}

.forward{
    position: sticky;
    margin-left: 30%;
    margin-bottom: 45px;
}

.backward{
    position: sticky;
    margin-left: 30%;
    margin-top: 45px;
}

    
.Stop{
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid rgba(255, 0, 0, 0.1);
    box-shadow:none;
    background-color: rgba(255, 0, 0, 0.6);
    color: white;
}

